td {
    width: 50px;
    height:50px;
}

#xadrez-div{
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 0%;
    animation: mov-div 10s infinite;

}

@keyframes mov-div{
    0%{top:0px;left: 0px;}
   5%{top:120px;left: 0px;}
   10%{top:120px; left: 70px;}

   15%{top:250px; left: 70px;}
   20%{top:250px; left: 120px;}

   25%{top:350px;left: 120px;}
   30%{top:350px; left: 250px;}
   35%{top:430px; left: 250px;}

   40%{top:430px; left: 250px;}
   45%{top:350px; left: 250px;}
   50%{top:350px;left: 120px;}
       
     /*VOLTA*/

   60%{top:350px; left: 120px;}
   65%{top:350px;left: 120px;}

   70%{top:250px; left: 120px;}
   75%{top:250px; left: 70px;}

   80%{top:120px; left: 70px;}
   85%{top:120px;left: 0px;}

   90%{top:0px;left: 0px;}
   95%{top:0px;left: 0px;}
   100%{top:0px;left: 0px;}
 
}
